/*- CSS stylesheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 26 Jul 2012
 */

body {

    background-color: #CCCCCC;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

div {

    margin: auto;

}

#visualization {

    height: 400px;
    width: 600px;

}

/*- vim:set syntax=css: */
