/*- CSS stylesheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 25 Jul 2012
 */

body {

    background-color: #CCCCCC;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;

}

/*- vim:set syntax=css: */